#k {
    position: absolute;
    font-size: 100px;
}

#j {
    position: absolute;
    font-size: 100px;
    left: 150px;
}

#pressed-key {
    position: relative;
    // display: flex;
    width: 1000PX;
    height: 100px;
    font-size: 20pt;
    text-align: center;
    top: 500px;
    left: 30px;


}