* {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;

}

body {
    background-color: black;
    color: black;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 119, 255),
    0 0 82px rgb(0, 132, 255),
    0 0 92px rgb(0, 153, 255),
    0 0 102px rgb(0, 81, 255),
    0 0 151px rgb(0, 119, 255);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


.logo1 img{
    display: flex;
    height: 70px;
    width: 70px;
}

.logo2 img {
    display: flex;
    height: 70px;
    width: 70px;
}

.gameName {
    display: flex;
    color: black;
    font-size: 300%;
    justify-content: center;
    align-items: center;
    letter-spacing: 40px;
    padding: 10px;
    // text-align: center;
    // width: 50%;
    // left: 100%;
    // top: 5%;
}

.topnav {
    // float: left;
    // background-color: hotpink;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 400px;
    // align-content: center;
    // text-align: center;
    // flex-direction:row;
    
    // overflow: hidden;
    // top: 100px;
    // padding: 40px;
}

.topnav span {
    // display: flex;
    // align-content: flex-start;
    font-size: 40px;
    padding: 10px;
}

.option {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// .option span {
//     display: flex;
//     align-content: flex-start;
//     font-size: 40px;
//     padding: 10px;
// }

.option button {
    // display: flex;
    // flex-direction: column;
    // align-content: flex-end;
    // justify-content: flex-end;
    
    // font-size: 50px;

    border-radius: 20%;
    // border: none;
    // color: black;
    // padding: 50px;
    // text-align: center;
    // text-decoration: none;
    // display: inline-block;
    background-color: black;
    font-size: 50px;
    margin: 10px 10px;
    cursor: pointer;
}

// .topnav a {
//     float: left;
//     display: block;
//     padding: 14px 16px;
// }

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
}

.leftColumn {
    // float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-content: flex-end;
    align-items: center;
    // border: block;
    padding: 20px;
    // background-color: white;
    width: 25%;
    // height: 800px;
    font-size: 50px;
}

// a img {
//     height: 70px;
//     width: 70px;
// }

// .github {
//     height: 500px;
//     width: 500px;

// }

// .sideColumn a:hover {
//     background-color: white;
//     padding: 25px;
// }

.midColumn {
    // float: left;
    display: flex;
    border: solid 20px;
    padding: 13%;
    // background-color: white;
    width: 50%;
    // height: 750%;
    border-radius: 5%;
    border-color: black;
    box-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    // 0 0 42px rgb(0, 119, 255),
    // 0 0 82px rgb(0, 132, 255),
    // 0 0 92px rgb(0, 153, 255),
    // 0 0 102px rgb(0, 81, 255),
    0 0 151px rgb(0, 119, 255);

}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-content: flex-end;
    align-items: center;
    // border: block;
    padding: 20px;
    // background-color: white;
    width: 25%;
    // height: 800px;
    font-size: 50px;

}



// .rightColumn button:hover {
//     color: black;
//     background-color: black;
// }

// #pause {

// }

// .midColumn span {
//     border: block;
//     background-color: indianred;
// }

// .row:after {
//     display: table;
// }

#words span {
    position: absolute;
    font-size: 300%;
    color: black;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 119, 255),
    0 0 82px rgb(0, 132, 255),
    0 0 92px rgb(0, 153, 255),
    0 0 102px rgb(0, 81, 255),
    0 0 151px rgb(0, 119, 255);
}


#tutorial {
    position: absolute;
    background-color: lightslategray;
    border-radius: 20%;
    padding: 17%;
    top: 13%;
    left: 24%;
    width: 52%;
}

#play {
    position: absolute;
    font-size: 30px;
    width: 15%;
    height: 10%;
    top: 80%;
    left: 42%;
    
}

.footer {
    display: flex;
    flex-direction: row;
    // border-radius: 20%;
    padding: 3%;
    
}

.footer input {
    display: block;
    padding: 1%;
    width: 50%;
    border-radius: 50%;
    height: 10%;
    font-stretch: 50%;
    text-align: center;
    box-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 119, 255),
    0 0 82px rgb(0, 132, 255),
    0 0 92px rgb(0, 153, 255),
    0 0 102px rgb(0, 81, 255),
    0 0 151px rgb(0, 119, 255);

}

.footer span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-content: flex-end;
    align-items: center;
    // border: block;
    padding: 20px;
    // background-color: white;
    width: 25%;
    // height: 800px;
    font-size: 50px;
}
// #pressed-key {
//     display: flex;
//     // position: absolute;
//     border-radius: 5%;
//     width: 45%;
//     height: 10%;
//     font-size: 20pt;
//     text-align: center;
//     top: 85%;
//     left: 30%;
// }