* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.header {
    color: black;
    font-size: 60px;
    background-color: white;
    padding: 20px;
    text-align: center;
    top: 10%;
}

.topnav {
    // float: left;
    // background-color: hotpink;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 400px;
    // align-content: center;
    // text-align: center;
    // flex-direction:row;
    
    // overflow: hidden;
    // top: 100px;
    // padding: 40px;
}

.topnav span {
    // display: flex;
    // align-content: flex-start;
    font-size: 30px;
    padding: 15px;
}

.record {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 490px;
}

.record span {
    display: flex;
    align-content: flex-start;
    font-size: 40px;
    padding: 15px;
}

// .topnav a {
//     float: left;
//     display: block;
//     padding: 14px 16px;
// }

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;

}

.leftColumn {
    // float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-content: flex-end;
    align-items: flex-end;
    // border: block;
    padding: 20px;
    // background-color: white;
    width: 25%;
    // height: 800px;
    font-size: 50px;
}

a img {
    height: 70px;
    width: 70px;
}

// .github {
//     height: 500px;
//     width: 500px;

// }

// .sideColumn a:hover {
//     background-color: white;
//     padding: 25px;
// }

.midColumn {
    // float: left;
    display: flex;
    border: solid 20px;
    border-color: white;
    padding: 16%;
    // background-color: white;
    width: 50%;
    // height: 750%;

}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // align-content: flex-end;
    align-items: flex-start;
    // border: block;
    padding: 20px;
    // background-color: white;
    width: 25%;
    // height: 800px;
    font-size: 20px;

}

.rightColumn button {
    // display: flex;
    // flex-direction: column;
    // align-content: flex-end;
    // justify-content: flex-end;
    
    // font-size: 50px;

    border-radius: 20%;
    border: none;
    color: black;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
    margin: 10px 10px;
    cursor: pointer;

}

.rightColumn button:hover {
    color: black;
    background-color: white;
}

// #pause {

// }

// .midColumn span {
//     border: block;
//     background-color: indianred;
// }

// .row:after {
//     display: table;
// }

#words span {
    position: absolute;
    font-size: 100px;
    color: black;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 119, 255),
    0 0 82px rgb(0, 132, 255),
    0 0 92px rgb(0, 153, 255),
    0 0 102px rgb(0, 81, 255),
    0 0 151px rgb(0, 119, 255);
}

#pressed-key {
    display: table;
    position: fixed;
    // display: flex;
    width: 50%;
    height: 100px;
    font-size: 20pt;
    text-align: center;
    top: 85%;
    left: 25%;
}

#tutorial {
    position: absolute;
    background-color: lightslategray;
    padding: 16%;
    top: 20%;
    left: 25%;
    width: 50%;
}

#play {
    position: absolute;
    font-size: 30px;
    width: 15%;
    height: 10%;
    top: 80%;
    left: 42%;

}